{% extends 'base.html' %} {% block content %}
<main>
    
  <section class="text-center my-3 mx-3 p-3">
    <h2 class="text-3xl font-black leading-tight">
      Best Cement Dealer in Kerala
    </h2>
    <p class="my-3 p-2 text-gray-500">
      Anonymous Agencies is a leading player in the Kerala building materials space,
      with an all Kerala operational and marketing presence.
    </p>

    {% comment %} <button class="font-bold text-gray-50 bg-indigo-600 px-7 py-3 rounded-md shadow-md focus:outline-none">About Us</button> {% endcomment %}
    <button class="font-semibold uppercase text-gray-50 bg-gray-700 px-7 py-2 focus:outline-none rounded-sm">About Us</button>
  </section>


</main>
{% endblock content %}
